// .footer {
//   background-color: rgba(0, 0, 0, 0.85);
//   height: 15rem;
//   color: white;
//   padding-top: 6rem;
//   display: block;
//   text-align: center;
//   @include respond(tab-port) {
//     padding: 8rem 0;
//     margin-top: 0rem;
//     padding-right: 2rem;
//   }
//   &__elem {
//     border-top: 3rem;
//   }
// }

// h3 {
//   padding-top: 3rem;
// }

/* Footer */

.footer {
  background-color: #ada6a651;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.6rem;
  display: grid;
  /* grid-template-columns: auto auto; */
  /* grid-row-gap: 0.75rem; */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;
  }
}
/* .footer__logo {
    grid-row: 1 / 3;
    -ms-flex-item-align: center;
    align-self: center;
  }
  @media only screen and (max-width: 50em) {
    .footer__logo {
      grid-row: 1;
    }
  }
  .footer__logo img {
    height: 3rem;
  } */
.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.footer__nav li {
  margin-left: 1.5rem;
}
.footer__nav a {
  color: #777;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__nav a:hover,
.footer__nav a:active {
  color: #777;
}
.footer__copyright {
  justify-self: center;
  color: #999;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .footer__copyright {
    justify-self: center;
  }
  .footer__nav {
    justify-self: center;
  }
}
