.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.529),
      rgba(0, 0, 0, 0.152)
    ),
    url(../img/mern-4.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);


  
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 5rem;
    width: 6rem;
  }
  &__logo:hover {
    animation: onHover 2s ease-in;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


